* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
}

/* beginn für code mobile ansicht */

.desktop_header,
.desktop_hero_container,
.desktop_galerie_container,
.desktop_start_learning_container,
.desktop_video_container,
.desktop_footer {
    display: none;
}

/* header */
.mobile_header {
    display: flex;
    justify-content: space-evenly;
    height: 64px;
    background-color: #ffffff;
}

.mobile_header img {
    height: auto;
    max-width: 100%;
    margin: 12px;
}
/* header ende */

/* hero */
.mobile_hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile_hero_container img {
    width: 100%;
    height: auto;
}

.mobile_hero_content {
    display: flex;
    background-color: #dbdbdb;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 32px 16px;
}

.mobile_hero_content h1 {
    padding-bottom: 32px;
    font-weight: bold;
    font-size: 30px;
}

.mobile_hero_content p {
    padding-bottom: 24px;
    font-size: 20px;
}

.mobile_hero_content button {
    background-color: #9b9b9b;
    font-weight: bold;
    color: #dbdbdb;
    border: none;
    padding: 16px;
}
/* hero ende */

/* galerie */
.mobile_galerie_container {
    display: flex;
    flex-direction: column;
    background-color: #f3f5f5;
}

.mobile_galerie_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.mobile_galerie_content img {
    width: 100%;
    height: auto;
}

.mobile_galerie_content_text_box { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    width: 100%;
    
}
/*galerie ende */

/* start learning */
.mobile_start_learning_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f5f5;
}


.mobile_start_learning_content_box {
    background-color: #9b9b9b;
    width: 90%;
    margin: 8px;
}

.mobile_start_learning_content_h1{
    margin: 16px 32px 16px 16px;
    font-weight: bold;
    font-size: 20px;
}

.mobile_start_learning_content_box p {
    margin: 16px 16px 24px 16px;
    font-weight: bold;
    font-size: larger;
}
/* start learning ende */



.mobile_video_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f5f5;
}

.mobile_video_container video {
    width: 100%;
    height: auto;
}

.mobile_video_container h1 {
    margin: 16px 32px 16px 16px;
    font-weight: 900;
    font-size: 30px;   
}

.mobile_footer {
    display: flex;
    background-color: #dbdbdb;
}

.mobile_footer p {
    margin: 16px;
}


/* beginn für code destop ansicht */
@media screen and (min-width: 1024px) {
    
    /* Mobile elemnete werden ausgeblendet */
    .mobile_header, 
    .mobile_hero_container, 
    .mobile_galerie_container, 
    .mobile_start_learning_container, 
    .mobile_video_container, 
    .mobile_footer {
        display: none;
    }

    /* Desktop elemente werden eingeblendet */

    .desktop_header {
        display: flex;
        background-color: #ffffff;
    }


  }
